@font-face {
	font-family: "iconfont";
	/* Project id 3267793 */
	src: url('//at.alicdn.com/t/c/font_3267793_n6ald7qjt2.woff2?t=1675535442665') format('woff2'),
		url('//at.alicdn.com/t/c/font_3267793_n6ald7qjt2.woff?t=1675535442665') format('woff'),
		url('//at.alicdn.com/t/c/font_3267793_n6ald7qjt2.ttf?t=1675535442665') format('truetype'),
		url('//at.alicdn.com/t/c/font_3267793_n6ald7qjt2.svg?t=1675535442665#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
	content: "\e8bb";
}

.icon-github:before {
	content: "\e673";
}

.icon-shoucang:before {
	content: "\100bf";
}

.icon-kabao:before {
	content: "\100c0";
}

.icon-a-wo:before {
	content: "\100ab";
}

.icon-gongwenbao:before {
	content: "\100ac";
}

.icon-cunchu:before {
	content: "\100ad";
}

.icon-bofang:before {
	content: "\100ae";
}

.icon-fujin:before {
	content: "\100af";
}

.icon-dangan:before {
	content: "\100b0";
}

.icon-cuxiao:before {
	content: "\100b1";
}

.icon-guanjun:before {
	content: "\100b2";
}

.icon-chakansousuo:before {
	content: "\100b3";
}

.icon-daishouhuo:before {
	content: "\100b4";
}

.icon-bianji:before {
	content: "\100b5";
}

.icon-shanchu:before {
	content: "\100b6";
}

.icon-daka:before {
	content: "\100b7";
}

.icon-wode:before {
	content: "\100b8";
}

.icon-dingwei:before {
	content: "\100b9";
}

.icon-shuju:before {
	content: "\100ba";
}

.icon-paizhao:before {
	content: "\100bb";
}

.icon-jifen:before {
	content: "\100bc";
}

.icon-pinglun:before {
	content: "\100bd";
}

.icon-huodong:before {
	content: "\100be";
}

.icon-bokeyuan:before {
	content: "\e603";
}

.icon-youxiang:before {
	content: "\e908";
}

.icon-xiaolian:before {
	content: "\e61c";
}

.icon-fujindaohang:before {
	content: "\e700";
}

.icon-daohang:before {
	content: "\eaf2";
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
	font-family: 'iconfont' !important;
	font-size: inherit;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}